# Binaries
pulumi-resource-*
bin/

# Go build cache and test artifacts
*.test
*.out
coverage.txt

# macOS
.DS_Store

# Generated SDKs
examples/**/sdk
integration-tests/dev.db
integration-tests/dev.db-shm
integration-tests/dev.db-wal
integration-tests/pulumi/Pulumi.test.yaml
integration-tests/pulumi/package-lock.json
integration-tests/code-provider/pulumi/Pulumi.test.yaml
integration-tests/code-provider/pulumi/package-lock.json